@import "style";

@media (max-width: 1366px) {
  .header__container{
    margin: 20px 80px;
  }
  .promo__text{
    margin-top: 0;
  }
  .promo__image {
    width: 50%;
  }
  /*-----modal-------*/
  .modal__wrapper{
    width: 594px;
    padding: 20px 56px 56px 56px;
    overflow-x: hidden;
    .modal__close-btn{
      right: -460px;
    }
    .modal__body__inputs{
      width: 450px;
      input{
        margin: 8px;
        width: 100%;
        height: 72px;
        border-radius: 36px;
        padding: 0 24px;
        @include text-small;
      }
      button{
        position: relative;
        right: -410px;
        top: -54px
      }
    }
  }

  .modal__body__inputs .input__bottom .input__error {
    right: 110px;
  }
  .modal__body__title{
    font-size: 38px;
  }
}
@media (max-width: 1138px) {
  .promo{
    justify-content: center;
    &__image {
      width:80%
    }
    &__text{
      text-align: center;
      align-items: center;
      &__subtitle{
        text-align: center;
      }
    }
  }
  .notes__dashboard{
    justify-content: center;
    .note{
      width: 40%;
    }
  }
}
@media (max-width: 970px) {
  .notes__dashboard{
    justify-content: center;
    padding: 0 20px 20px 20px;
    .note{
      width: 90%;
    }
  }
}
@media (max-width: 650px) {
  .promo{
    &__text{
      &__title{
        font-size: 68px;
        max-width: 320px;
      }
      &__subtitle{
        font-size: 24px;
      }
    }
  }
  .header__container{
    margin: 20px;
    .header__btn{
      margin-left: 15px;
    }
  }
  .promo__image{
    width: 110%;
  }
  /*-----modal-------*/
  .modal {
    &__wrapper {
      width: 352px;
      padding: 20px 16px 24px 16px;
    }

    .modal__close-btn {
      right: -260px;
    }

    .modal__body__title {
      font-size: 32px;
      width: 300px;
      line-height: 112.5%;
      margin-left: 10px;
    }

    .modal__body__inputs {
      width: 288px;
      input {
        margin: 8px;
        width: 100%;
        height: 72px;
        border-radius: 36px;
        padding: 0 24px;
        @include text-small;
      }
      button{
        position: relative;
        right: -260px;
        top: -54px
      }
    }

    .modal__bottom{
      flex-direction: column;
      margin: 25px 0;
      &__btn{
        order: 1;
        width: 288px;
        margin-bottom: 12px;
      }
      span{
        order: 2;
        font-size: 14px;
      }
    }
  }
  .modal__body__inputs .input__bottom .input__error {
    right: 20px;
    font-size: 12px;
  }
}
@media (max-width: 461px) {
  .header__user-btn{
    span{
      display: none!important;
    }
  }
  .exit-box{
    right: 40px;
  }
  .note{
    &__text{
      display: -webkit-box;
      -webkit-line-clamp: 10; // количество строк
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-height: 340px;
    }
  }
}
