html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #FFFFFF;
}

body {
  background-color: #0A1F38;
}

.disable__body {
  overflow: hidden;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  background-color: #0A1F38;
  opacity: 0.7;
}

.main-layout__wrapper {
  max-width: 1760px;
  margin: 0 auto;
}

/*----------------Header--------------*/
.header__container {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
}
.header__container .header__btn {
  max-width: 144px;
  height: 56px;
  background-color: #B1C909;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 160% */
  padding: 10px 24px;
  border-radius: 32px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__btn:hover {
  background-color: #97AB0D;
}
.header__container .header__btn__icon {
  max-height: 32px;
  max-width: 32px;
  margin-right: 10px;
}

/*----------------LoginPage Promo------------*/
.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 80px;
}
.promo__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -45px;
}
.promo__text__title {
  font-family: "Montserrat", sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 100% */
  max-width: 488px;
}
.promo__text__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 150% */
  color: #9DA5AF;
  max-width: 394px;
  margin-top: 40px;
}
.promo__image {
  width: 56%;
}

/*----------------Modal Window Login ----------------*/
.modal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.modal__wrapper {
  max-width: 780px;
  border-radius: 40px;
  background-color: #1B2F46;
  padding: 20px 80px 80px 80px;
}
.modal__close-btn {
  position: relative;
  right: -610px;
  max-width: 56px;
  max-height: 56px;
  border-radius: 32px;
  padding: 18px;
  background-color: #B1C909;
  cursor: pointer;
  transition: 0.3s;
}
.modal__close-btn:hover {
  background-color: #97AB0D;
}
.modal__body__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 150% */
  text-align: center;
}
.modal__body__inputs {
  margin-top: 40px;
  width: 620px;
}
.modal__body__inputs label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  color: #9DA5AF;
  margin-left: 24px;
}
.modal__body__inputs input {
  margin: 8px;
  width: 100%;
  height: 72px;
  border-radius: 36px;
  padding: 0 24px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
}
.modal__bottom {
  margin-top: 40px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__bottom span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  color: #9DA5AF;
}
.modal__bottom .bottom__signup-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.556%; /* 155.556% */
  color: #B1C909;
  transition: 0.3s;
  cursor: pointer;
}
.modal__bottom .bottom__signup-btn:hover {
  color: #97AB0D;
}
.modal__bottom__btn {
  border-radius: 32px;
  background-color: #B1C909;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 160% */
  padding: 10px 24px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.modal__bottom__btn:hover {
  background-color: #97AB0D;
}
.modal__error {
  margin-top: 20px;
  width: 100%;
  background-color: rgba(255, 116, 97, 0.1);
  border-radius: 24px;
  padding: 8px 20px;
}
.modal__error span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  color: #FF7461;
}

@media (max-width: 1366px) {
  .header__container {
    margin: 20px 80px;
  }
  .promo__text {
    margin-top: 0;
  }
  .promo__image {
    width: 50%;
  }
}
@media (max-width: 1138px) {
  .promo {
    justify-content: center;
  }
  .promo__image {
    width: 80%;
  }
  .promo__text {
    text-align: center;
    align-items: center;
  }
  .promo__text__subtitle {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .promo__text__title {
    font-size: 68px;
    max-width: 320px;
  }
  .promo__text__subtitle {
    font-size: 24px;
  }
}

/*# sourceMappingURL=style.css.map */
