html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h1, h2, h3, h4 {
  margin: 0;
  color: #FFFFFF;
}

body {
  background-color: #0A1F38;
  overflow-x: hidden;
}

.disable__body {
  overflow: hidden;
}

button {
  border: 0;
}

.overlay {
  position: absolute;
  width: 96%;
  height: 100%;
  z-index: 4;
  background-color: #0A1F38;
  opacity: 0.7;
}

.main-layout__wrapper {
  max-width: 1760px;
  width: 100%;
  margin: 0 auto;
}

/*----------------Header--------------*/
.header__container {
  display: flex;
  justify-content: space-between;
  margin: 40px 80px;
}
.header__container .header__user-btn {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  background-color: #0A1F38;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  cursor: pointer;
}
.header__container .header__user-btn svg {
  margin-left: 12px;
}
.header__container .header__btn {
  max-width: 144px;
  height: 56px;
  background-color: #B1C909;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 160% */
  padding: 10px 24px;
  border-radius: 32px;
  display: flex;
  cursor: pointer;
  transition: 0.3s;
}
.header__container .header__btn:hover {
  background-color: #97AB0D;
}
.header__container .header__btn__icon {
  max-height: 32px;
  max-width: 32px;
  margin-right: 10px;
}

/*----------------LoginPage Promo------------*/
.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 80px;
}
.promo__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -45px;
}
.promo__text__title {
  font-family: "Montserrat", sans-serif;
  font-size: 104px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 100% */
  max-width: 488px;
}
.promo__text__subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 150% */
  color: #9DA5AF;
  max-width: 394px;
  margin-top: 40px;
}
.promo__image {
  width: 56%;
}

/*----------------Modal Window Login ----------------*/
.modal {
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.modal__wrapper {
  max-width: 780px;
  border-radius: 40px;
  background-color: #1B2F46;
  padding: 20px 80px 80px 80px;
}
.modal__close-btn {
  position: relative;
  right: -610px;
  max-width: 56px;
  max-height: 56px;
  border-radius: 32px;
  padding: 18px;
  background-color: #B1C909;
  cursor: pointer;
  transition: 0.3s;
}
.modal__close-btn:hover {
  background-color: #97AB0D;
}
.modal__body__title {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 150% */
  width: 556px;
}
.modal__body__inputs {
  margin-top: 40px;
  width: 620px;
}
.modal__body__inputs label {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  color: #9DA5AF;
  margin-left: 24px;
}
.modal__body__inputs input {
  margin: 8px;
  width: 100%;
  height: 72px;
  border-radius: 36px;
  padding: 0 24px;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
}
.modal__body__inputs textarea {
  margin: 8px;
  width: 100%;
  padding: 16px;
  border-radius: 36px;
  max-height: 244px;
  resize: none;
  border: none;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
}
.modal__body__inputs textarea::-webkit-scrollbar {
  width: 5px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 5px;
  height: 200px;
}
.modal__body__inputs textarea::-webkit-scrollbar-thumb {
  background: #1A182F;
  border-radius: 5px;
}
.modal__body__inputs .input__length {
  display: flex;
  justify-content: flex-end;
  left: 100px;
  color: #9DA5AF;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
}
.modal__bottom {
  margin-top: 40px;
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal__bottom span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  color: #9DA5AF;
}
.modal__bottom .bottom__signup-btn {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.556%; /* 155.556% */
  color: #B1C909;
  transition: 0.3s;
  cursor: pointer;
}
.modal__bottom .bottom__signup-btn:hover {
  color: #97AB0D;
}
.modal__bottom__btn {
  border-radius: 32px;
  background-color: #B1C909;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 160% */
  padding: 10px 24px;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.3s;
}
.modal__bottom__btn:hover {
  background-color: #97AB0D;
}
.modal__error {
  margin-top: 20px;
  width: 100%;
  background-color: rgba(255, 116, 97, 0.1);
  border-radius: 24px;
  padding: 8px 20px;
}
.modal__error span {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 155.556%; /* 155.556% */
  color: #FF7461;
}

/*----------------Notes Page ---------------*/
.notes__dashboard {
  max-width: 1800px;
  padding: 0 80px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.notes__dashboard__add-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #B1C909;
  border-radius: 32px;
  width: 56px;
  height: 56px;
  padding: 4px 12px 0 12px;
  cursor: pointer;
}

.note {
  max-width: 30%;
  min-width: 500px;
  height: 100%;
  background-color: #B1C909;
  border-radius: 12px;
  position: relative;
  inline-size: 300px;
  overflow-wrap: break-word;
  overflow: hidden;
}
.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-bottom: 50px solid #B1C909;
  border-radius: 12px;
  border-right: 50px solid transparent;
  -webkit-box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.15);
  box-shadow: -7px 7px 7px rgba(0, 0, 0, 0.15);
}
.note:after {
  content: "";
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0px;
  height: 0px;
  border-top: 50px solid #0A1F38;
  border-left: 50px solid transparent;
}
.note__title {
  padding: 20px 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 133.333%; /* 133.333% */
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.note__text {
  padding: 20px 28px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 160% */
  color: #FFFFFF;
}
.note__box {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.note__box__delete {
  background-color: #B1C909;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%; /* 160% */
  padding: 24px;
  cursor: pointer;
}
.note__box__delete svg {
  margin-right: 12px;
}

@media (max-width: 1366px) {
  .header__container {
    margin: 20px 80px;
  }
  .promo__text {
    margin-top: 0;
  }
  .promo__image {
    width: 50%;
  }
  /*-----modal-------*/
  .modal__wrapper {
    width: 594px;
    padding: 20px 56px 56px 56px;
  }
  .modal__wrapper .modal__close-btn {
    right: -460px;
  }
  .modal__wrapper .modal__body__inputs {
    width: 450px;
  }
  .modal__wrapper .modal__body__inputs input {
    margin: 8px;
    width: 100%;
    height: 72px;
    border-radius: 36px;
    padding: 0 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%; /* 155.556% */
  }
}
@media (max-width: 1138px) {
  .promo {
    justify-content: center;
  }
  .promo__image {
    width: 80%;
  }
  .promo__text {
    text-align: center;
    align-items: center;
  }
  .promo__text__subtitle {
    text-align: center;
  }
}
@media (max-width: 650px) {
  .promo__text__title {
    font-size: 68px;
    max-width: 320px;
  }
  .promo__text__subtitle {
    font-size: 24px;
  }
  .header__container {
    margin: 20px;
  }
  .header__container .header__btn {
    margin-left: 15px;
  }
  .promo__image {
    width: 110%;
  }
  /*-----modal-------*/
  .modal__wrapper {
    width: 352px;
    padding: 20px 16px 24px 16px;
  }
  .modal .modal__close-btn {
    right: -260px;
  }
  .modal .modal__body__title {
    font-size: 32px;
    width: 300px;
    line-height: 112.5%;
    margin-left: 10px;
  }
  .modal .modal__body__inputs {
    width: 288px;
  }
  .modal .modal__body__inputs input {
    margin: 8px;
    width: 100%;
    height: 72px;
    border-radius: 36px;
    padding: 0 24px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 155.556%; /* 155.556% */
  }
  .modal .modal__bottom {
    flex-direction: column;
    margin: 25px 0;
  }
  .modal .modal__bottom__btn {
    order: 1;
    width: 288px;
    margin-bottom: 12px;
  }
  .modal .modal__bottom span {
    order: 2;
    font-size: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
